@font-face {
    font-family: 'OpenSansR';
    font-style: normal;
    font-weight: 400;
    src: local('OpenSans Regular'), local('OpenSans-Regular'),
        url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype')
}
